* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header {
    background-image: url(images/bg_01.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.header_wrapper {
    height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}
.header_wrapper__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
}
.header_wrapper__contacts_phone,
.header_wrapper__contacts_location {
    width: 20%;
    display: flex;
    align-items: center;
}
.header_wrapper__contacts_phone__info_text,
.header_wrapper__contacts_location__info_text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    opacity: .5;
}
.header_wrapper__contacts_phone__info_number,
.header_wrapper__contacts_location__info_address {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    opacity: .5;
}
.header_wrapper__contacts_phone__info,
.header_wrapper__contacts_location__info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    line-height: 24px;
}
.header_wrapper__navigation {
    margin-top: 10px;
}
.header_wrapper__navigation_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header_wrapper__navigation_list_item {
    width: 100%;
    background-color: #080425;
    text-align: center;
    cursor: pointer;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
}
.header_wrapper__navigation_list_item:hover {
    position: relative;
    background-color: #080425;
}
.header_wrapper__navigation_list_item:hover .header_wrapper__navigation_sub-list {
    display: block;
    background-color: #080425;
}
.header_wrapper__navigation_list_item_link {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 10px;
}
.header_wrapper__navigation_sub-list {
    width: 100%;
    display: none;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 18%;
}
.header_wrapper__navigation_sub-list_sub-item {
    width: 100%;
    background-color: #080425;
    text-align: center;
    cursor: pointer;
    padding-bottom: 20%;
}
.header_wrapper__navigation_sub-list_sub-item_sub-link {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: none;
}
.header_wrapper__navigation_sub-list_sub-item_sub-link:hover {
    width: 100%;
    background-color: #211d3b;
    display: block;
    height: 25px;
}
.header_wrapper__start-screen_content {
    max-width: 1280px;
    margin: 0 auto;
}
.header_wrapper__start-screen_content_text {
    padding-top: 10%;
}
.header_wrapper__start-screen_content_text__heading {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: #FFFFFF;
    margin-bottom: 3%;
    margin-left: 5%;
    max-width: 511px;
}
.header_wrapper__start-screen_content_text__subheading {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 3%;
    margin-left: 5%;
    max-width: 460px;
}
.header_wrapper__start-screen_content_text__button-primary {
    margin-left: 5%;
}
.button-primary__rent,
.button-primary__order {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
    padding: 15px 45px;
    background-color: #fab91e;
    cursor: pointer;
}
.button-primary__rent {
    margin-right: 10px;
}
.button-primary__rent:hover,
.button-primary__order:hover {
    background-color: #d39500;
}
.main__advantage {
    height: 100vh;
    margin-top: 2%;
}
.main__advantage_content {
    max-width: 1280px;
    margin: 0 auto;
}
.main__advantage_content__heading {
    text-align: center;
}
.main__advantage_content__heading_title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
    opacity: .5;
    margin-bottom: 2%;
}
.main__advantage_content__title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
}
.main__advantage_content__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 90px 120px;
    text-align: center;
}
.main__advantage_content__list_item_image {
    margin-bottom: 6%;
}
.main__advantage_content__list_item_text__title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    text-align: center;
    margin-bottom: 5%;
}
.main__advantage_content__list_item_text__subtitle {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
    text-align: center;
    margin-bottom: 5%;
}